body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #a8e3ec;
    color: rgb(31, 24, 108);
}

h1 {
    color: #0056b3;
    text-align: center;
    margin-top: 42px;
}

p {
    text-align: center;
    margin: 10px auto;
    max-width: 600px;
}